<launch>

    <param name="robot_description" textfile="/home/mouwang/test_ws/src/package6/urdf/xacro/my_car_camera.urdf" />


    <node pkg="rviz" type="rviz" name="rviz_test" args="-d /home/mouwang/test_ws/src/package6/config/test.rviz" />


    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />


    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />

    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <rosparam file="/home/mouwang/test_ws/src/package6/config/control.yaml" command="load" />
        <param name="sim" value="true" />
    </node>

</launch>
