
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="base.xacro" />
    <xacro:include filename="my_base.xacro" />
    <xacro:include filename="my_camera.xacro" />
    <xacro:include filename="my_laser.xacro" />
    <xacro:include filename="my_car_move.xacro" />
    <xacro:include filename="my_sensors.xacro" />
</robot>
